@media only screen and (min-width: 768px) {
    .guardar_lista{
        margin-right: 1em;
        margin-left: 3em;
    }

}

.titulo_artista_busq{
    text-overflow: ellipsis;
    overflow: auto;
}

.crear_lista{
    height: 80vh;
    width: 75vw;
    overflow-x: hidden;
    position: absolute;
    visibility: hidden;
    margin-top: 7vh;
    /*background-color: #323232;*/
}

.crear_lista form{
    float: left;
    width: 100%;
    margin-left: 0;
}

.nombre_listas{
    /*float: left;*/
    margin-left: 1em;
    width: 85%;
    max-width: 2000px;
    height: 52px;
    position: relative;
    overflow: hidden;
    /*color: #6d00a2;*/
    /*display: grid;*/
    /*grid-template-columns: 15% 85%;*/
}

.nombre_listas input{
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    /*line-height: 52px;*/
    outline: 0;
    background-color: inherit;
    border: none;
    color: #ebe0ff;
    /*margin-top: -50px;*/
    /*padding-top: -55px;*/
}

.nombre_listas .label-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    background-color: inherit;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #6d00a2;
}

.nombre_listas .label-wrapper::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 2px solid #6d00a2;
    left: 0;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
}

.nombre_listas .label-text{
    position:absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.2s ease;
}

.nombre_listas input:focus + .label-wrapper .label-text,
.nombre_listas input:valid + .label-wrapper .label-text{
    transform: translateY(-150%);
    font-size: 12px;
    color: #6d00a2;
}

.nombre_listas input:focus + .label-wrapper::after,
.nombre_listas input:valid + .label-wrapper::after{
    transform: translateX(0);
}

.nombre_listas button{
    padding: 2px;
    background-color: #6d00a2;
    cursor: pointer;
}

.nombre_listas button:hover{
    background-color: #b4c7f3;
    color: white;
}

#nombre_lista{
    width: 45%;
    margin-top: 2.5em;

}

#search_for_list{
    width: 58.7%;
    margin-top: 2em;

}

.buscador_canciones{
    overflow: hidden;
    width: 100%;
    margin-top: 2%;
    float: left;
    margin-left: 3.9em;
    text-align: left;
    position: relative;

}

.buscador_canciones_btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    width:90%;
    margin: 0;
    float: left;
}

.resultados_1{
    margin-top: 20vh;
    height: 64%;
    margin-left: 2%;
    /*background-color: #323232;*/
    width: 98%;
    overflow-y: auto;

}

.guardar_lista{
    margin-top: 0.75em;
    cursor: pointer;
    width: 30%;
}

.guardar_lista button{
    background-color: black;
    color: white;
}

.busq1{
    height: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    background-color: #ebe0ff;
    border-top: black 1px solid;
    display: flex;
    transition: transform .2s; /* Animación */
    width: 97%;
}

.busq1:hover {
    transform: scale(1.02);
    color: black;
    background-color: #b4c7f3;

}

.busq1:hover p{
    color: black;
}


.busq_container1{
    height: 90%;
    position: relative;
}

.busq_container1 img{
    height: 90%;
    margin: 5%;
    width: auto;
    float: left;
    vertical-align: middle;

}

.guardar_lista p i{
    margin-right: 1em;
}
