.cuenta{
    height: 80vh;
    width: 75vw;
    overflow-y: scroll;
    overflow-x: hidden;
    visibility: hidden;
    position: absolute;
    margin-top: 7vh;
    background-color: #323232;
}

#imagen_perfil{
    margin-left: 2em;

}

#formulario{
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

#ffotoperfil_none{
    margin-top: 30vh;

}

#ffotoperfil{
    display: none;
    height: 40%;
    margin-top: 5vh;
}

#save_button{
    margin: 2em;
    display: none;
}

#info_pers{
    display:none;
}


