/*.mis_listas{*/
/*    height: 80vh;*/
/*    width: 75vw;*/
/*    overflow-y: scroll;*/
/*    overflow-x: hidden;*/
/*    position: absolute;*/
/*    visibility: hidden;*/
/*    margin-top: 7vh;*/
/*    float: left;*/
/*    text-align: left;*/
/*    !*background-color: #323232;*!*/

/*}*/

.playlists{
    height: 100%;
    width: 100%;
    margin-left: 2%;
    /*background-color: #323232;*/
}


/* LIST VIEW*/

.playlist {
    height: 10vh;
    width: 96%;
    background-color: #ebe0ff;
    border-top: black 1px solid;
    display: flex;
    margin-top: 1%;

}

.lista{
    width: 70%;
    margin-bottom: 1%;
    display: flex;
}

.playlist:hover {
    /*color: black;*/
    background-color: #D6C3FAFF;

}

.playlist .titulo_playlist{
    font-size: 1em;
    color: black;
    font-weight: bold;
    margin-top: 0.15em;
}

.play_canc_container{
    height: 100%;
    width: 8%;
    top:0;
    left: 0;
    /*position: relative;*/
}

.play_canc_container img{
    height: 99%;
    margin: 0;
    width: auto;
    float: left;
    vertical-align: middle;
    box-shadow: black 0 0 10px;
}

/*Cuanto queremos que se oscurezca la imagen*/
.play_canc_container:hover .overlay_fav {opacity: 0.8;}


.titulo_playlist{
    /*width:90%;*/
    padding-top: 1%;
    cursor: pointer;
    float: left;
    /* left:-5w; */
}

/*.titulo_playlist:hover{*/
/*    color: black;*/
/*}*/

.minus_list{
    margin-top: 0.5em;
    cursor: pointer;
    position: absolute;
    right: 2em;
}

.minus_list i{
    color: black;
    /* font-size: 1.5em; */
}

.view_mode{
    margin-top: 0.75em;
    cursor: pointer;
    position: absolute;
    right: 1em;
}

.view_mode i{
    /* color: black; */
    font-size: 2em;
}

#grid{
    display: none;
}

#list{
    display: block;
}

/* GRID VIEW*/
.playlist_grid {
    height: 20vh;
    width: 20vh;
    background-color: #ebe0ff;
    border-top: black 1px solid;
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    float: left;
    cursor: pointer;
}













