.queue_element {
    height: 10vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 1em 0;
    margin-left: 2.5em;
    /*background-color: purple;*/
}

.queue_container{
    height: 10%;
    width: 10%;
}

.busq3 .queue_container .cancion_container img{
    height: 8vh;
    width: auto;
    margin-top: 1vh;
    /* margin-left: 1vw; */
    /* margin-right: ; */
    /* width: 120%; */
    /* float: left; */
    /* vertical-align: middle; */

}

.favor_queue i{
    position: relative;
    color: #000;
    margin-top: 3vh;
    margin-left: 4em;
    /* top: -5em; */
    /* font-size: 0.5em; */
    /*height: 20%;*/
}

.titulo_artista_queue{
    /* height: 8vh; */
    width: 50vw;
    /*background-color: red;*/
    margin-left: 3.75em;
    margin-top: 1vh;
    font-size: 0.75em;
    /*margin-right: 1em;*/
}