.busq1 .titulo_artista_busq{
    text-overflow: ellipsis;
    /* text-align: left; */
    /*overflow: auto;*/
    /* font-size: 1em; */
    /* margin-top: 0.25em; */
}

.crear_lista{
    display: grid;
    grid-template-columns: 25% 65%;
    padding: 0.5em 0;

}

#titulo_crear{
    /* margin-top: 1em; */
    margin-left: 2.5em;
    /* font-size: 2em; */
    font-weight: bold;

}

#imagen_playlist_prev{
    max-height: 14.75vh;
}

#imagen_playlist{
    margin-left: 7vw;
    /* top: 11vh; */
    /* position:absolute; */

}

.nombre_listas{
    /*float: left;*/
    margin-left: 1em;
    width: 100%;
    max-width: 2000px;
    height: 30px;
    position: relative;
    /*overflow: hidden;*/
    /*color: #6d00a2;*/
}

.nombre_listas input{
    position: absolute;
    /*height: 100%;*/
    width: 71.5%;
    box-sizing: border-box;
    /*line-height: 52px;*/
    outline: 0;
    background-color: #ebe0ff;
    border: none;
    padding: 1em;
    /*color: ;*/
    /*margin-top: -50px;*/
    /*padding-top: -55px;*/
    margin-left: -13.5em;
    bottom: 6px;
    top: 5px;
    box-shadow: #6a4da1 2px 3px 2px 0;
}

.buscador_canciones input{
    box-shadow: #6a4da1 2px 3px 2px 0;

}

.nombre_listas .label-text{
    position:absolute;
    bottom: 0;
    top: 0;
    left: 0;
    font-size: 0.75em;
    /*transition: all 0.2s ease;*/
}



.nombre_listas button:hover{
    box-shadow:  4px 4px 6px 0 rgba(2, 2, 2, 0.5),
    -1px -1px 6px 0 #7358a6, 
inset -1px -1px 6px 0 #7358a6,
inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}

/*#nombre_lista{*/
/*    width: 45%;*/
/*    margin-top: 2.5em;*/

/*}*/

#search_for_list{
    width: 100%;
    background-color: #ebe0ff;
    font-size: 0.4em;
    padding: 0.5em;
    /* margin-left: -1em; */
    /*margin-top: -2em;*/
    /*bottom: 50px;*/
    /*margin-left: -1em;*/
}

#search_for_list_text{
    font-size: 0.75em;
}

.buscador_canciones{
    /*overflow: hidden;*/
    width: 100%;
    margin-top: 2%;
    float: left;
    /*margin-left: 3.9em;*/
    text-align: left;
    position: relative;
    /*float: left;*/
    margin-left: 1em;
    /*width: 100%;*/
    /* max-width: 2000px; */
    height: 52px;
    /*position: relative;*/
    /*overflow: hidden;*/
    /*color: #6d00a2;*/
    display: grid;
    grid-template-columns: 29% 71%;

}

/*.buscador_canciones_btn {*/
/*    font-size: 16px;*/
/*    border: none;*/
/*    outline: none;*/
/*    color: #ffffff;*/
/*    padding: 14px 16px;*/
/*    !*background-color: inherit;*!*/
/*    font-family: inherit;*/
/*    width:90%;*/
/*    margin: 0;*/
/*    float: left;*/
/*}*/

.resultados_1{
    /*margin-top: 5vh;*/
    height: 55vh;
    margin-left: 2%;
    /* padding-bottom: 1em; */
    /*background-color: #323232;*/
    width: 98%;
    /*margin-bottom: 10%;*/
    overflow-y: auto;

}

.guardar_lista{
    margin-top: 0.65em;
    cursor: pointer;
    width: 10%;
}

.guardar_lista button{
    background-color: black;
    color: white;
}


.busq1{
    height: 10vh;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    background-color: #ebe0ff;
    border-top: black 1px solid;
    display: flex;
    width: 97%;
    position: relative;
}

.busq1:hover {
    /*transform: scale(1.02);*/
    /*color: black;*/
    background-color: #d6c3fa;

}

.busq1 p{
    color: black;
    /*font-size: 2em;*/
}


/*.busq_container1{*/
/*    height: 90%;*/
/*    position: relative;*/
/*}*/

.busq1 .busq_container1 .cancion_container{
    height: 90%;
    margin: 5%;
    margin-left: 0.3em;
    width: 110%;
    float: left;
    vertical-align: middle;

}

.busq_container1 .cancion_container img{
    width: 100%;
    height: 100%;
    /*margin: 5%;*/
    /*float: left;*/
    /*vertical-align: middle;*/
}

.busq_container1 .cancion_container button{
    /*left: 0;*/
    top: 0.95em;
}

.guardar_lista p i{
    /*margin-right: 1em;*/
    color: black;
}

.nombre_listas button{
    position: absolute;
    top: 8em;
    right: 0;
    padding: 10px;
    /* background-color: #ebe0ff; */
    cursor: pointer;
    border-radius: 20%;
    /* border: black 1px solid; */
    /* border: #6d00a2 1px solid; */
    /* margin-top: 7.5em; */
    /* margin-left: 70em; */
    color: white;
    background: #b393ee;
    background: linear-gradient(0deg, #b393ee 0%, #b393ee 100%);
    border: none;
    box-shadow:  4px 4px 6px 0 rgba(2, 2, 2, 0.5),
    -1px -1px 6px 0 #7358a6, 
     -1px -1px 6px 0 #000000,
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
   
}

.nombre_listas button:before {
    height: 0%;
    width: 2px;
  }