.player {
    height: 10vh;
    width: 83vw;
    border-radius: 40px;
    background-color: #212121;
    position: absolute;
    user-select: none;
    top: -11vh;
    right: 2vw;
    /* transform: translate(-50%, -50%); */
    border: solid #ebe0ff 1px;
    z-index: 10;

}
.player ul {
    list-style: none;
}
.player ul li {
    display: inline-block;
}

.caratula{
    padding: 7%;
    /* margin-left: 0.5em; */
    height: 10vh;
    width: 10vh;
}


.caratula img{
    margin-top: 0.25em;
    margin-left: 0.5em;
    /* margin-right: -0.5em; */
    height: 7.5vh;
    border-radius: 50%;
    position: absolute;
}

.caratula.active img{
    animation: rotate-disk 5s infinite forwards linear;
}

@keyframes rotate-disk {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }

}

.cancion-artista{
    padding-left: 0.5em;
    /* line-height: 1.5em; */
    margin-top: -3em;
    position: absolute;
    /* height: 30vh; */
    width: 10vw;
    white-space: nowrap;
}

.cancion-artista h2 {
    font-size: 0.75em;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    position: relative;
    color: #ebe0ff;
}

.cancion-artista h4 {
    color: #a38eb7;
    font-size: 0.5em;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    position: relative;
}

.cancion-artista h2::after, .cancion-artista h4::after {
    content: "";
    position: absolute;
    right: 0;
    width: 50px;
    height: 1em;
    margin-top: 0.2em;
    background: linear-gradient(to right, transparent, #212121);
}

.cancion-artista h6 {
    opacity: 0
}

.controls{
    margin-left: 8em;
    /* margin-top: 1em; */
    display: grid;
    grid-template-columns:87% 10% ;
    width: 60vw;
}

.favorito{
    /*display: inline-block;*/
    /*text-align: center;*/
    height: 1em;
    /* padding-left: 0.5em; */
    margin-left: 2vw;
    font-size: 1em;
    padding-top: 0.6em;
}
/* 
.favorito i{
    width: 50%;
} */

#options{
    position: absolute;
    /* display: grid; */
    /* grid-template-columns: 50% 50%; */
    /*padding-left: 0.2em;*/
    margin-left: 58vw;
    font-size: 1em;
    /* padding-top: 0.75em; */
    /* line-height: 1.5em; */
    padding-top: 0.6em;

}

#options i{
    margin-left: 1.5em;
    cursor: pointer;
    color: #ebe0ff;
}

.barra{
    width: 30vw;
    height: 1%;
    border-radius: 10%;
    cursor: pointer;
    background: #b1adad;
    /* padding-left: 0.9em; */
    margin-left: 3vw;
    margin-bottom: 15em;
}


#shuffle{
    margin-left: -3em;
    margin-right: 1em;
}

#repeat{
    margin-left: 1em;
    
}

#repeat_song{
    /* display: none; */
    position: absolute;
    top: 4em;
    left: 119.5em;
    font-size: 0.25em
}


.barra .progreso{
    width: 0;
    left: -0.9em;
    height: 100%;
    background: #6f009f;
    border-radius: inherit;
    position:relative;

}

.progreso::before{
    content:"";
    position:absolute;
    border-radius: inherit;
    top:50%;
    right: -1%;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.barra:hover .progreso::before{
    opacity: 1;
}

.controles{
    width: 30vw;
    text-align: left;
    /* margin-top: 1em; */
    margin-bottom: 1.15em;
    clear: left;
    margin-left: 12.65em;
    /*font-size: 100%;*/
    justify-content: center;
}


.controles .prev{
    text-decoration: none;
    /*font-size: 100%;*/
    font-size: 1em;
    margin-right: 4%;
    cursor: pointer;
}

.controles .forw{
    text-decoration: none;
    font-size: 1em;
    margin-left: 4%;
    cursor: pointer;
}

.controles .max{
    text-decoration: none;
    /* font-size: 1.25em; */
    cursor: pointer;
    /* margin: 0.1em; */
    max-width: 0.75vw;
}

.barra p{
    color: #ebe0ff;
    font-family: "Century Gothic", serif;
    /* font-size: 0.75em; */
}

.pro{
    float: left;
    position: absolute;
    /* margin-top: em; */
    /*color: #ebe0ff;*/
    top: 4em;
    font-size: 0.5em;
}

.dur{
    float: right;
    position: absolute;
    margin-left: 43.5em;
    /*color: #ebe0ff;*/
    top: 4em;
    font-size: 0.5em;

}

.barra_volumen{
    width: 150px;
    margin-top: -2em;
    margin-left: -12vw;
}

.volume{
    /* width: 100%; */
    height: 0.5%;
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
}

.volume::-webkit-slider-thumb{
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #6f009f;
    cursor: pointer;
    -webkit-appearance: none;
}

.low i{
    text-decoration: none;
    position: absolute;
    font-size: 0.75em;
    top: 1.8em;
    margin-left: -1.5em;
    /*color: #6d00a2;*/
}

.high i{
    text-decoration: none;
    /*color: #6d00a2;*/
    position: absolute;
    margin-left: 9em;
    top: 1.8em;
    font-size: 0.75em;
}
