.artistas_pagina{
    height: 80vh;
    width: 75vw;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    visibility: hidden;
    margin-top: 7vh;
    background-color: #323232;
    z-index: 3;
}

.fondo{
    height:35vh;
    width: 100%;
    /* background-color: rebeccapurple; */
}

/*2660 x 737*/
/*1330 x 368.5*/
/*1240 x 260*/
#fondo-artista{
    height: 100%;
    width: 100%;
    /* box-shadow: 2em 2em 2em 2em rgb(244, 12, 12); */
}

.pass_pag{
    position: sticky;
    top: 0;
    opacity: 0.7;
    margin-top: 1%;
    margin-left: 1%;
    width: 1em;
    height: 0;
    z-index: 4;
    text-align: center;
    cursor: pointer;

}


.pass_pag i{
    margin-top: 1.1em;
    /* width: 1em; */
    /* height: 1em; */
    /* border-radius: 75%; */
    /* background-color: black; */
    color: white;
    font-size: 0.75em;
}



.artista-foto-perfil{
    /* background-color: white; */
    width:12.5%;
    height: 25%;
    position: absolute;
    margin-top: -10%;
    margin-left: -2em
}

#perfil-artista{
    border-radius: 50%;
    width:100%;
    height: auto;
    margin-left: 25%;
    /* background-color: white; */
    position: absolute;
    z-index: 4;
    box-shadow: 0 0 0.25em 0.25em rgb(0, 0, 0, 0.5);

}

.nombre-artista{
    height: 10vh;
    /* background-color: #212121; */
    font-size: 2em;
    font-family: "Copperplate", fantasy;
    position: absolute;
    top: 2.75em;
    right: 0.25em;
    text-align: center;
    z-index: 3;
    text-overflow: ellipsis;
    /* overflow: hidden; */
    /* padding-left: 10%; */
    margin-bottom: 0;
    /* font-style: italic; */
    /* border: #323232; */
    text-shadow: 3px 3px black;
    
}



.artista-albumes-seccion{
    margin: 2%;
    /*La disposición de las carátulas se ajusta al tamaño de la pantalla*/
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-align: center;
    cursor: pointer;

}


.artista-albumes-seccion img{
    width: 100%;
    position: inherit;
}

.album:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.artista-canciones{
    min-height:45%;
    /* background-color: #323232; */
    margin: auto;
    border-top: black solid 1px;
    padding-left: 1em;
    /*La disposición de las carátulas se ajusta al tamaño de la pantalla*/
    display: flex;
    flex-wrap: wrap;
    color: black;
    text-align: center;

}

.album{
    height: 30vh;
    width: 15%;
    transition: transform .2s; /* Animación */
    /* background-position: center center; */
    min-width: 100px;
    padding: 15px;
    /* background-color: #323232; */
    margin: 1%;
    /* border-radius: 30px; */
    
}

.album_nombre{
    font-size: 0.5em;
    font-family: "Copperplate", fantasy;
    color: white;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    /* background-color: #323232; */
}

.cancion_artista{
    height: 10vh;
    width: 78vw;
    background-color: #323232;
    margin: 0.25%;
    margin-left: 0.75em;
    font-size: 2em;
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.cancion_artista i{
    text-align: right;
    margin: auto 0.5em;
    /* color: white; */
    font-size: 0.5em;

}

/* .artist-bar {
    position: fixed;
    top: 7.75vh;
    left: 15vw;
    width: 84vw;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px;
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .artist-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  } */

.img_cancion img{
    margin: 0.5vh;
    /* left: -50%; */
    height: 9vh;
    width: 9vh;
    /* margin: 0.5em; */
    /* border-radius: 50%; */
    background-color: #323232;
    /* box-shadow: 0 0 0.25em 0.25em rgb(0, 0, 0, 0.5); */
}

.nombre_cancion{
    font-size: 0.5em;
    margin: 0.65em 1em;
    font-family: "Copperplate", fantasy;
    color: #ebe0ff;
}

.info{
    text-align: left;
    margin: 0;
    /* font-size: 0.5em; */
    display: flex;
}

.config{
    margin: -0.15em 0.25em;
    /* color: white; */
    /* font-size: 0.5em; */
    text-align: right;
}

.duracion{
    margin: 0.5em 0.25em;
    color: white;
    font-size: 0.5em;
    width: 2vw;;    
    /* text-align: right; */
}