.perfil{
    margin-bottom: 10%;
}

.seccion_artistas{
    height:auto;
    /*background-color: #323232;*/
    margin: auto;
}

.seccion_artistas .cancion{
    height: auto;
    width: 11.5%;
}

.seccion_artistas img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/*Cada sección dentro de la página va diferenciado por un div*/
.secciones_perfil{
    height:auto;
    /*background-color: #323232;*/
    margin: auto;
}

.secciones_favoritos{
    height:auto;
    /*background-color: #323232;*/
    margin: auto;
    overflow-y: visible;
    overflow-x: hidden;

}

/*_Sección donde se muestran las carátulas_*/
.seccion_imagenes{
    margin: 2%;
    /*La disposición de las carátulas se ajusta al tamaño de la pantalla*/
    display: flex;
    flex-wrap: wrap;

}

.seccion_imagenes_fav{
    margin: 2%;
    /*La disposición de las carátulas se ajusta al tamaño de la pantalla*/
    display: flex;
    flex-wrap: wrap;
    /*color: black;*/
}

.seccion_imagenes_listas{
    margin: 2%;
    /*La disposición de las carátulas se ajusta al tamaño de la pantalla*/
    display: flex;
    flex-wrap: wrap;
    /*color: black;*/
}

/*.artista{*/

/*    transition: transform .2s; !* Animación *!*/
/*    background-position: center center;*/
/*    min-width: 100px;*/
/*    padding: 15px;*/
/*    background-color: #4a5a6F;*/
/*    margin: 1%;*/
/*    text-align: center;*/
/*    cursor: pointer;*/

/*}*/

.artista_container{position: relative;}
.artista_container img {
    width: 75%;
    border-radius: 50%;
}

.artista:hover p{
    color: black;
}


.cancion_favorita{
    height: auto;
    width: 15%;
    transition: transform .2s; /* Animación */
    background-position: center center;
    min-width: 100px;
    padding: 15px;
    background-color: #4a5a6F;
    margin: 1%;
    position: relative;
    text-align: center;
}

.lista_perfil{
    height: auto;
    width: 15%;
    transition: transform .2s; /* Animación */
    background-position: center center;
    min-width: 100px;
    padding: 15px;
    background-color: #4a5a6F;
    margin: 1%;
    position: relative;
    text-align: center;
}


.titulo_artista_listas{
    text-overflow: ellipsis;
    overflow: hidden;
}
